[submodule "themes/Agnes"]
	path = themes/Agnes
	url = https://github.com/dchucks/agnes-hugo-theme.git
[submodule "themes/lightbi-hugo"]
	path = themes/lightbi-hugo
	url = https://github.com/binokochumolvarghese/lightbi-hugo
